:root{
    --main-bg-color: #489cc1;
    --white-bg: white;
    --primary-text-size: 20px;
    --shadow-color: grey;
    --primary-text-color: #49b5e4;
}

.list-item {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.list-item:nth-child(even) {
    background-color: var(--white-bg);
    color: var(--primary-text-color);
}

.list-item:nth-child(odd) {
    background-color: #f0f8fe;
    color:var(--primary-text-color);
}
.list-item.last-item {
    background-color: var(--white-bg);
    color: var(--primary-text-color);
}
